{% extends 'base.html' %}
    {% block title %}Home Page{% endblock %}

    {% block profile %}
    <profile>
        <div class="profile-div"></div>
        <div class="profile-div">
            <div class="profile-pic"></div>
            <div class="profile-text">
                <span class="name">김나영</span>
                <p>This is text area for profile.</p>
            </div>
        </div>
        <div class="profile-div"></div>
    </profile>
    {% endblock %}

    {% block content %}This is content area (album){% endblock %}
        
    {% block footer %}This is footer area{% endblock %}